.smartpay-checkout-logo {
    display: inline-block;
    overflow: hidden;
    margin-top: -2px;
    width: 130px;
    height: 24px;
    text-indent: 100%;
    vertical-align: middle;
    color: transparent;
    background-image: url("../images/logotype-color-light.svg");
    background-size: cover;
}

.smartpay-payment-method-detail {
    margin-bottom: 1em;
}